<h1>checkin clock</h1>

<div class="container-fluid">
  <h2 class="clocktower">Time</h2>
  <span id="counter"></span>
</div>

<div class="container-fluid">
  <p>Register your entry: </p>

  <div >
      <%= form_with model: @attendance do |f|%>
      <div>
        <label class="label">Private Number</label>
        <input placeholder="Example: 123456"/>
      </div>
      <button class="btn btn-success">Check</button>
      <% end%>
  </div>

</div>







