<h1>checkin clock</h1>

<div class="container-fluid">
  <h2 class="clocktower">Time</h2>
  <span id="counter"></span>
</div>

<div class="container-fluid">
      <p>Register your entry: </p>
      <input type="password"  placeholder="Enter your private number">
      <div>
        <button >Check In</button>
      </div>
</div>






