body {
  height: 100vh;
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

main {
  display: flex;
  flex-wrap: nowrap;
  height: 100%;
  height: -webkit-fill-available;
  max-height: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}
